<div class='row'>
  <div class='small-3 columns'>&nbsp;</div>
  <div class='small-6 columns' ng-controller='loginController as login'>
	  <div ng-hide='login.auth.checking'>
		  <div ng-show='login.auth.available'>
		  
		   <div class='row'>
		    <div class='small-3 columns small-centered'><h2>Login!</h2></div>
		   </div>
		   
		   <form class='nice'>
		    <div class='row'>
		     <div class='small-4 columns'>
		      <label for='username' class='right inline'>Username</label>
		     </div>
		     <div class='small-8 columns'>
		      <input id='username' ng-model='login.username' type='text'>
		     </div>
		    </div>
		    <div class='row'>
		     <div class='small-4 columns'>
		      <label for='password' class='right inline'>Password</label>
		     </div>
		     <div class='small-8 columns'>
		      <input id='password' ng-model='login.password' type='password'>
		     </div>
		    </div>
		    <div class='row'>
		     <div class='small-3 columns small-centered'>
		      <button ng-click='login.login()'>Login</button>
		     </div>
		    </div>
		   </form>
	   
		  </div>
		  
		  <div ng-hide='login.auth.available'>
			  <h1>Time Unavailable</h1>
			  <p>It appears that the connection to the time database is not available.  This is perhaps a problem with the SSL certificate, so you can click the SSL link above to see if this resolves the problem.  Otherwise there could be server maintenance being performed.  Check back later.</p>
		  </div>
	  </div>
  </div>
  <div class='small-3 columns'>&nbsp;</div>
 </div>
